body {
    margin: 0;
    font-family: Helvetica;
}
.navbar {
    position: relative;
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #696969;
}
.middle-nav a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-nav {
    float: right;
}
@media screen and (max-width: 600px) {
    .navbar a, .right-nav {
        float: none;
        display: block;
    }
    .middle-nav a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}
.or-circle {
    border-radius: 50%;
    width: 20px;
    height: 21px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 19px Arial, sans-serif;
    margin: 5px 15px 5px 15px;
    padding-bottom: 9px;
}
.form-btn-container {
    display: flex;
    margin-top: 25px;
    align-items: center;
    margin-left: 2.6em;
    padding-bottom: 0px;
}
.service-button {
    height: 50px;
    background-color: #0398c9;
    border: 0px;
    color: white;
    font-weight: 600;
}
.form-btn-text {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.need-support-text {
    color: #0398c9;
    font-size: 16px;
}
.parent-container {
    margin: 7em 15em 1em 15em;
}
.index-h1 {
    font-size: 5em;
    color: #0043E0;
}
.index-h2 {
    font-size: 2.4em;
    color: #FF621C;
    padding-right: 0em;
    white-space: nowrap;
}
input[type=text], select, textarea {
    margin: 0px;
    width: 300px;
    padding: 15px 15px 15px 20px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 0px;
    resize: vertical;
}
.index-form-container {
    border-radius: 5px;
    background-color: #e3f6ff;
    padding: 20px;
    margin: 2.5em;
    margin-right: 8em;
    margin-top: 4em;
    box-shadow: 1px 1px 15px #E8E8E8;
    padding: 150px;
}
.about-content-parent {
    display: flex;
}
.form-text-div {
    text-align: center;
    color: #FF621C;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 3em;
}
.form-submit-btn {
    display: block;
    margin: auto;
    background-color: #0398c9;
    color: white;
    padding: 15px;
    margin-top: 3em;
    border: none;
}
.elem1 {
    margin-top: 0em;
}
.about-content-parent {
    margin: 15em;
}
.elem1 h1 {
    color: #0398c9;
    font-size: 4em;
}
.elem1 h2 {
    color: #ff621c;
    font-size: 2em;
}
.elem1 p {
    font-size: 1.2em;
}
.flex-form-container {
    margin-top: 0px;
}
.form-submit-btn:hover {
    background-color: #ff621c;
    transition-duration: 0.4s;
}
.service-button:hover {
    background-color: #ff621c;
    transition-duration: 0.4s;
}
