body {
    margin: 0;
    font-family: Helvetica;
}


.or-circle {
    border-radius: 50%;
    width: 20px;
    height: 21px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 19px Arial, sans-serif;
    margin: 5px 15px 5px 15px;
    padding-bottom: 9px;
}


.form-btn-container {
    display: flex;
    margin-top: 25px;
    align-items: center;
    margin-left: 2.6em;
    padding-bottom: 0px;
}


.service-button {
    height: 50px;
    background-color: #0398c9;
    border: 0px;
    color: white;
    font-weight: 600;
}


.form-btn-text {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}


.need-support-text {
    color: #0398c9;
    font-size: 16px;
}


.parent-container {
    margin: 7em 15em 1em 15em;
}


h1 {
    font-size: 5em;
    color: #0043E0;
}


h2 {
    font-size: 2.4em;
    color: #FF621C;
    padding-right: 0em;
    white-space: nowrap;
}


input[type=text], select, textarea {
    margin: 0px;
    width: 300px;
    padding: 15px 15px 15px 20px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 0px;
    resize: vertical;
}


.index-form-container {
    border-radius: 5px;
    background-color: #e3f6ff;
    padding: 20px;
    margin: 2.5em;
    margin-right: 8em;
    margin-top: 4em;
    box-shadow: 1px 1px 15px #E8E8E8;
    padding: 150px;
}


.about-content-parent {
    display: flex;
}


.form-text-div {
    text-align: center;
    color: #FF621C;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 3em;
}


.form-submit-btn {
    display: block;
    margin: auto;
    background-color: #0398c9;
    color: white;
    padding: 15px;
    margin-top: 3em;
    border: none;
}


.elem1 {
    margin-top: 0em;
}


.about-content-parent {
    margin: 15em;
}


.elem1 h1 {
    color: #0398c9;
    font-size: 4em;
}


.elem1 h2 {
    color: #ff621c;
    font-size: 2em;
}


.elem1 p {
    font-size: 1.2em;
}


.flex-form-container {
    margin-top: 0px;
}


.form-submit-btn:hover {
    background-color: #ff621c;
    transition-duration: 0.4s;
}


.service-button:hover {
    background-color: #ff621c;
    transition-duration: 0.4s;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    border-radius: 0px 0px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1em;
}


.prebuilt1-column-header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #87C591;
    font-weight: 600;
    font-size: 24px;
}


.prebuilt2-column-header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #8AD5EB;
    font-weight: 600;
    font-size: 24px;
}


.prebuilt3-column-header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #FF7BBD;
    font-weight: 600;
    font-size: 24px;
}


.prebuilt4-column-header {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #9E96F9;
    font-weight: 600;
    font-size: 24px;
}


.prebuilt1-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: left;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
}


.prebuilt2-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: left;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
}


.prebuilt3-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: left;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
}


.prebuilt4-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: left;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
}


.prebuilt1-price {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}


.prebuilt2-price {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}


.prebuilt3-price {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}


.prebuilt4-price {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}


.prebuilt-addtocart {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 1px solid gray;
    border-top: none;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 25px;
    border-radius: 0px 0px 15px 15px;
}


.prebuilt-addtocart button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-size: 22px;
    transition-duration: 0.2s;
}


.prebuilt-addtocart button:hover {
    color: white;
    background-color: #FF621C;
    border: 1px solid #FF621C;
    cursor: pointer;
}


.column img {
    width: 200px;
    height: 200px;
}


.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
}


.navcol {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
}


.navrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.navcol a:hover {
    background: white;
    cursor: pointer;
    color: black;
}


.navcol a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0px;
    font-size: 2em;
}


.navcart {
    padding: 15px;
    margin: 0px;
    position: relative;
    font-size: 2em;
}

.navcart:hover {
    cursor: pointer;
}


.cart-amount {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
}


.navcart:hover {
    padding-top: 15px;
    margin: 0px;
    background: white;
    color: black;
}


.prebuilt-tile-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 333px);
    justify-content: center;
    gap: 27px;
}


.prebuilt-header-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 333px);
    justify-content: center;
    gap: 27px;
}


.prebuiltelem1 {
    align-items: center;
}


.prebuilt-header1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border: 1px solid gray;
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
    background: #8AD5EB;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 20px;
}


.elem1-image {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}


.elem1-addtocart {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border: 1px solid gray;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
}


.elem1-specs {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    padding-top: 50px;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}


.elem1-image {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}


.elem1-addtocart button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-size: 22px;
    transition-duration: 0.2s;
}


.elem1-addtocart button:hover {
    color: white;
    background-color: #FF621C;
    border: 1px solid #FF621C;
    cursor: pointer;
}


.elem1-price {
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
}


.bi-cart2 {
    padding-left: 20px;
    padding-right: 20px;
}


.bi-cart2:hover {
    cursor: pointer;
}


.about-container {
    margin: 7em 15em 1em 15em;
}


.checkout-h1 {
    margin-top: 7em;
    text-align: center;
}


.checkout-h1 a:hover {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #FF621C;
    border: 1px solid #FF621C;
    cursor: pointer;
}

.checkout-h1 a {
    display: inline-block;
    text-decoration: none;
    margin-top: 2em;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 22px;
    transition-duration: 0.2s;
    color: black;

}


.checkout-h2 {
    display: grid;
    grid-template-columns: repeat(1, 1430px);
    justify-content: center;
    gap: 14px;
}


.checkoutCartItem {
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.checkoutCartSpecs {
    padding-top: 70px;
    margin-left: 70px;
    margin-right: 50px;
    overflow: hidden;
    padding-right: 20px;
    width: 35%;
}


.checkoutCartImg {
    padding-left: 20px;
}


.checkoutCartNumItems {
    padding-top: 106px;
}
